.layout {
    height: 100vh;
    padding: 30px;
}

.header {
    height: 15%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: rgba(255, 255, 255, 0.408);
    font-size: 26px;
}

.content {
    border: 2px solid gray;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.315);
    padding: 10px;
    /* height: 87%; */
}

